@{
    ViewData["Title"] = "Available Catalog";
}

<h2>Catalog</h2>

<body>
    <main class="catalog-list">
    <div id="catalog">
    </div>
    </main>
</body>



@section Styles {
    <link rel="stylesheet" href="/css/catalog.css">
}



@section Scripts {
    <script src="/js/catalog.js"></script>
}
