@{
    ViewData["Title"] = "Register new car";
}


@* 
    make 
    model
    year
    price
    milage
    condition (new/used)
    image
    seats
    MPG
 *@
 <div class="col-md-6 offset-md-3">
<form>

       <h3 class="offset-md-3">Register new car</h3>
       <hr>

  <div class="form-group row">
    <label for="select" class="col-4 col-form-label">Condition</label> 
    <div class="col-8">
      <select id="selCondition" name="select" class="custom-select">
        <option value="new">new</option>
        <option value="used">used</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="txtMake" class="col-4 col-form-label">make</label> 
    <div class="col-8">
      <input id="txtMake" name="txtMake" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtColor" class="col-4 col-form-label">color</label> 
    <div class="col-8">
      <input id="txtColor" name="txtMake" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtModel" class="col-4 col-form-label">model</label> 
    <div class="col-8">
      <input id="txtModel" name="text" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtYear" class="col-4 col-form-label">year</label> 
    <div class="col-8">
      <input id="txtYear" name="text1" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtMi" class="col-4 col-form-label">mileage</label> 
    <div class="col-8">
      <input id="txtMi" name="text3" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtImg" class="col-4 col-form-label">Image url</label> 
    <div class="col-8">
      <input id="txtImg" name="text4" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtMpg" class="col-4 col-form-label">MPG</label> 
    <div class="col-8">
      <input id="txtMpg" name="text5" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="selec" class="col-4 col-form-label">seats</label> 
    <div class="col-8">
      <select id="txtSeats" name="select1" class="custom-select">
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">price</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
          
        </div> 
        <input id="txtPrice" name="text2" type="number" class="form-control">
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button id="btnSave" name="submit" type="button" class="btn btn-primary">
          <i class="fas fa-save"></i>
          Register</button>
    </div>
  </div>
</form>
</div>


@section Scripts {
  <script src="/js/register.js"></script>
}