@{
    ViewData["Title"] = "About page";
}


<div class="jumbotron container">
  <h1 class="display-4">Thank you for visiting this website!</h1>
  <p class="lead">by Arturo Lemus jr.</p>
  <hr class="my-4">
  <p>This website was built using ASP.NET Core,Javascript,Html,CSS, C# and AJAX.</p>
  
</div>




@section Styles {
    <link rel="stylesheet" href="/css/home.css">
}